.folderList{
    height:415px;
    overflow: auto;
    display:block;
    margin:0 !important;
}
.rightPanel{
    height:495px;
    overflow: auto;
}
.bs-docs-sidenav {
    padding: 0;
    background-color: #fff;
}

.bs-docs-sidenav ul{
    list-style:none;
    margin:0;
    margin-bottom:10px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav ul:last-child{
    margin-bottom: 0;
}
.bs-docs-sidenav >li > a > div {
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    width: 90%;
}
.bs-docs-sidenav > li > a {
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
    text-overflow:ellipsis;
    border: 1px solid #e5e5e5;
}

.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
}
/* Chevrons */
.bs-docs-sidenav i {
    position: relative;
    top: -19px;
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #f5f5f5;
    text-decoration: none;
}
.bs-docs-sidenav a:hover i {
    opacity: .5;
}
.bs-docs-sidenav .active i{
    opacity: 1;
}
.bs-docs-sidenav > li.active > a:hover{
    opacity: 1;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
}

.track-progress .slider-selection {
    background: #FF8282;
}
.track-progress .slider-handle {
    background: red;
}

.dropdown-menu.up{
    bottom:100% !important; top:auto !important;
}
.track-time{
    color:white;margin-top: 10px;width:auto;
}
.songInfo{
    padding-left:10px;color:white;text-overflow: ellipsis;white-space: nowrap;
}

.nowPlayingList{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 0;
}
.nowPlayingList li{
    text-overflow: ellipsis;
    white-space: nowrap;
}
.playbar-btn{
    position:fixed;
    bottom: 7px;
    right: 20px;
}

.nowPlayingList .queuedSong.active{
    background: #FF8282;
}
.nowPlayingList .queuedSong.active a{
    color:white;
}
.nowPlayingList .queuedSong a:hover{
    text-decoration: none;
}
.playback [class*="span"]{
    margin-left:10px;
}
