 body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}
a {
	cursor:pointer;
}

div.dataTables_length label {
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table {
    margin: 1em 0;
    clear: both;
}

.imglogin{
    width: 30px;
    margin-right: 10px;
    margin-top: -4px;
}
.logdata{
    font-weight: bold;
}
.logdata a{
    padding: 6px 15px !important;
}
.logdata .caret{
    margin-top: 12px !important;
}