body{
	background: url('../images/backgrounds/background.png') repeat;
	background-color:#dedcc1;
	height:96%;
}
.wrapper{
	width: 100%;
	margin:0;
}
.container{
	margin:0 auto;
 	width: 690px;
 	height:100%;
}
.logo{
	background: url("../images/login/name.png") no-repeat scroll center center transparent;
	height:180px;
}
.icon_weight{
	background: url("../images/login/icon.png") no-repeat scroll center center transparent;
	height:220px;
}	
#loginButton {
    background: url("../images/forms/btnGoGrey.png") no-repeat scroll right center transparent;
    cursor: pointer;
    height: 32px;
    padding-left: 20px;
    width: 32px;
}
#loginButton:hover {
	background: url("../images/forms/btnGo.png") no-repeat scroll right center transparent;
}	
input {
    color: #5E5449;
    font-family: arial;
    font-size: 16pt;
    font-weight: lighter;
    height: 30px;
    width: 200px;
}
label{
	font-size: 14pt;
   	font-weight: bold;
	font-family: arial;
	color: #b61e00;		
}
#login{
	background: url('../images/login/login.png') no-repeat 0 center;
    position: relative;
  	    margin-left: 175px;
}
